.signup
  {
    text-align : center;
    border:1px solid;
    align-items:center;
    display:flex;
    justify-content: center;
    background : #C3B1E1;
    width: 600px;
    height:400px;
  }
  
body {
  background-color: white;
  min-height: 100vh;
  width:100vw;
  display: flex;
  align-items: center;
  margin:auto;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;}


.App-link {
  color: #61dafb;
}

.login input[type="password"],
input[type="text"]
{
  margin-left: 60px;
  padding:7px;
  border-radius:5px;
}
.login button{
  align-items: left;
  padding:5px;
}